html,
body,
#root {
  width: 100%;
  height: 100%;
}

.SplitPane {
  width: 100%;
  height: 100%;
}

.SplitPane-left {
  float: left;
  width: 50%;
  height: 100%;
  background: pink;
}

.SplitPane-right {
  float: left;
  width: 50%;
  height: 100%;
  background: green;
}
